.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 6px;
  margin-top: 30px;
}

.card-product img {
  height: 100%;
  width: 220px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  i {
    font-size: 20px;
    color: grey;
    &:hover {
      color: red;
    }
  }
}
