<div class="navbar">
  <div class="d-flex align-items-center">
    <%= image_tag 'https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png' %>
    <h1>Awesome Garage</h1>
  </div>
  <div>
    <%= link_to 'Home', cars_path %>
    <%= link_to 'My Garage', favourites_path %>
  </div>
</div>
