<div class="navbar">
  <%= image_tag 'https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png' %>
  <h1>Awesome Garage</h1>
  <div>
    <%= link_to 'Home', cars_path %>
    <%= link_to 'My Garage', favourites_path %>
  </div>
</div>
