<div class="banner-wrapper">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1504078151140-0d07249b8a9a?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
    <div class="container text-center">
      <h1>Awesome Garage</h1>
      <p>Your personal garage with the cars of your dreams</p>
      <%# <a class="btn btn-flat" href="#">Start here</a> %>
      <%= link_to "Start here", cars_path, class: "btn btn-flat" %>
      <%=  %>
    </div>
  </div>
</div>
