.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.navbar {
  display: flex;
  justify-content: space-between;
  padding: 8px 30px;
  background-color: #3c3c3c;
  position: sticky;
  top: 0;
  z-index: 100;
  h1 {
    color: white;
    font-size: 28px;
  }

  img {
    width: 40px;
    margin-right: 25px;
  }

  a {
    color: lightgray;
    text-decoration: none;
    margin-left: 20px;
    &:hover {
      color: white;
    }
  };
}
